<!-- Evenement type, naam, datum, lees meer -->
<div class="container">
    <h3>Agenda Overzicht</h3>
    <div ng-repeat="agenda in ctrl.agenda" class="agenda-item row-fluid">
         <form action="/selectAgenda" method="post">
            <input type = "hidden" name="naamOptreden" value="{{agenda.naamOptreden}}" />
            <div CLASS="span4">{{agenda.naamOptreden}}</div>
            <div CLASS="span4"> Artiest: {{agenda.artiest}} </div> 
            <div class="span4">Datum:   {{agenda.optredenDatum}}</div>
            <div class="span4">Vanaf:   {{agenda.beginTijd}}<br>
                                Tot:    {{agenda.eindTijd}}
            </div>
            <div class="span4">Ticketprijs: {{agenda.ticketPrijs}}</div>
            <div class="span4">Aantal Beschikbare kaarten: {{agenda.beschikbareKaarten}}</div>
            <div class="span4">Aantal Tickets: 
                <select id="aantalKaarten" name="aantalKaarten">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                </select>
             </div>
            <input type="submit" class="btn btn-default" value="Koop Tickets" name="Submit"> 
        </form>
    </div>


</div>