/* AhoyDam CSS */
@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
.site-wrapper {
    width: 1024px;
    margin: 0 auto;
}
/* Header */
.navbar-default {
    margin-bottom: 0px;
    background-color: #5F6A72;
}
#example-navbar-collapse {
    background-color: #FFFFFF;
}
.navcontainer {
    width: 1024px;
    margin: 0 auto;
}
.headerflags {
    text-align: right;
    font-size: 23px;
    margin-bottom: 1.7em;
}
.navcontainer li {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.01em;
    font-size: 1.2em;
    cursor: pointer;
}
/* Section SLider */
section#slider {
    height: 520px;
    background-color: #FFF200;
}

div#sliderBig {
    height: 360px;
    background-color: #FFF200;
}

div#sliderMinatures {
    height: 160px;
    background-color: aliceblue;
}
/* Form Styling */
input.btn.btn-default {
    background-color: #5b6770;
    color: rgb(255,242,0);
    font-weight: 700;
}

/* Ticker */
#tickercontainer {
    width: 100%;
    height: 5.3em;
    background-color: #ededed;
}
#ticker {
    height: 6.66em;
    color: rgba(0,0,0,0.5);
    font-size: .8em;
    z-index: 40;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.news_ticker {
    /*-webkit-animation: slide 435.28s infinite linear;
    animation: slide 435.28s infinite linear; */
    animation: marquee 30.28s linear infinite
}
.news_ticker {
    position: absolute;
    margin-top: 2em;
}
.news_ticker onhover {
    animation: none
}
.news_ticker li {
    text-align: left;
    display: inline;
    list-style: none;
    padding-right: 1.2em;
    margin-right: 1.2em;
    border-right: 1px solid rgba(0,0,0,.4);
}
.news_ticker li a {
    color: rgba(0,0,0,.7);
    font-size: 1.8em;
}
.news_ticker li a strong {
    font-weight: 700;
}

/* Section Bottom */
.footer-image {
    width: 1024px;
    margin: 0 auto;
    height: 200px;
    background-color: lightgray;
}
.instagram {
    height: 200px;
    margin: 20px;
    width: 100%;
    background-color: yellowgreen;
}

/* Section Promo */
.promo {
    width: 33.3%;
    height: 250px;
    float: left;
}
.promo img {
    padding-left: 95px;
    width: 123%;
}
section#middle {
    width: 100%;
    height: 300px;
    background-color: aquamarine;
    padding-top: 25px;
}/*
div#promo1 {
    background-color: lightgray;
}
div#promo2 {
    background-color: brown;
}
div#promo3 {
    background-color: yellow;
}*/

/* Footer */
p.footer-content a {
    float: left;
    clear: both;
    color: #374140;
    text-decoration: none;
}

footer h4 {
    font-size:  1.4em;
    font-weight: 700;
    margin-bottom: 1.5em;
}
footer.footer-partners {
    background-color: #F2F2F2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}
.footer-partners img {
    width: 100px;
    height: auto;
    margin-right: 5px;
}

/* Contact Form */
.contactBlock {
    background-color: #F2F2F2;
    width: 100%;
    display: block;
    padding: 1em;
}
#leftContact {
    width: 50%;
    float: left;
}
#rightContact {
    width: 50%;
    float: left;
}
#contactMain {
    color: #5b6770;
    font-weight: 300;
    padding: 2em;
}
/* Backend */
#functions {
    background-color: #EFEFEF;
    float: left;
    display: block;
    padding: 2em;
}

/* ROOOBIN CSS */
table {
    border: 2px solid #3c3c3c;
}

.thead-inverse {
    background-color: #3c3c3c;
    color: white;
}

input {
    padding: 8px;
    text-align: center;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
    background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Fx (3.6 to 15) */
    background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of IE 10*/
    background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */
    background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); /* Standard syntax; must be last */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px;
    text-align: center;
}
option {
    padding: 4px;
    background: #E8E8E8;
}
.footer-distributed{
    background-color: #F2F2F2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;


    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #F39200;
}
.navbar-brand{
    color:  #F39200;
}
.agenda-item{
    padding:15px;
    border: 2px solid black;
    margin-bottom: 5px;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}