<head>
 <!-- Stylesheets -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    
    <!-- Library Scripts -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-resource/angular-resource.js"></script>
</head>
<h3>Backend</h3>
    <body>
        <div id="functions">
                <h5>Functies Zaalbeheerder</h5>
                <a href="#/agendaList">Agenda Lijst</a><br>
                <a href="#/addConcert">Optreden aanmaken</a><br>
                <a href="#/addArtiest">Artiest toevoegen</a><br>
                <a href="#/addGenre">Genre toevoegen</a><br>
                <a href="#/addZaal">Zaal toevoegen</a><br>
                <a href="#/addSpeciaalEvenement">Speciaal Evenement toevoegen</a><br>
                <a href="#/newOnderhoud">Onderhoud toevoegen</a><br>
                <a href="#/newSchoonmaak">Schoonmaken inplannen</a><br>
                <a href="#/addVerbouwing">Verbouwing toevoegen(TBA)</a><br>
                <a href="#/">Aantal tickets aanpassen(TBA)</a><br>
                <a href="#/">Optreden afzeggen(TBA)</a><br>
                <a href="#/">Inspectie inplannen(TBA)</a><br>
                <a href="#/">Artiest toevoegen aan optreden(TBA)</a><br>
                <a href="#/">Artiesten lijst(TBA)</a><br>
                <h5>Functies Beheerder</h5>
                 <a href="#/">Rol toevoegen aan gebruiker(TBA)</a><br>
                 <a href="#/">Extra optreden inplannen(TBA)</a><br>
                <a href="#/">Speciale optredens inplannen(TBA)</a><br>
                <a href="#/">Extra Optredens lijst(TBA)</a><br>
            </div>
        <div class ="container">
            
            
        </div>
</body>
