<head>
 <!-- Stylesheets -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    
    <!-- Library Scripts -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-resource/angular-resource.js"></script>
</head>
<div class ="container">
    <h2>Contact!</h2>
    <div id="contactMain">
        Leuk dat je hier een kijkje neemt. Bij Ahoy Dam staan we klaar om je op welke manier dan ook van dienst te zijn. Waarschijnlijk vind je het antwoord op je vraag bij de meest gestelde vragen, kijk daarvoor bij FAQ. Vind je het prettiger om gewoon even contact te hebben? Maak dan gebruik van het snelle formulier hieronder, je vraag wordt op werkdagen beantwoord. Een beller is sneller, check hieronder onze telefoonnummers. Op social media zijn we er elke dag, dus daar moet je sowieso zijn. Bekijk onze social media kanalen en start met volgen!
    </div>
    <div id="leftContact"> 
        <div class="contactBlock">
            Rechtstreeks contact<br>
            Algemene vragen <br>
            010-2933300   <br>
            <br>
            Kassa & Reserveringen <br>
            0900-2352469 <br>

            Pers <br>
            010-2933237 <br>
            s.blaas@ahoy.nl <br>

            Verhuur (informatie over zalenhuur) <br>
            010-2933243  <br>
            sales@ahoy.nl <br>

            Drinks & Bites <br>
            010-2933599 <br>
            m.lutteke@ahoy.nl <br>
            <br>
            Werken bij Ahoy <br>
            werken@ahoy.nl <br>
        </div>
    </div>

    <div id="rightContact"> 
        <div class="contactBlock">
            Bezoekadres<br>
            Rotterdam Ahoy<br>
            Ahoyweg 10<br>
            3084 BA Rotterdam<br>
            <br>
            Postadres<br>
            Rotterdam Ahoy<br>
            Postbus 5106<br>
            3008 AC Rotterdam<br>
        </div>
    </div>
</div>
