<head>
 <!-- Stylesheets -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    
    <!-- Library Scripts -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-resource/angular-resource.js"></script>
</head>
<h3>Inschrijven</h3>
    <body>
        <div class ="container">
    <form action="/inschrijven" method="post">
         <div class="form-group">
            <label for="email">Emailadres:</label>
            <input type="email" class="form-control" name="email" placeholder="email"><br>
        </div>
        <div class="form-group">
            <label for="voornaam">Voornaam:  </label> 
            <input type="text" name="voornaam" class="form-control" placeholder="voornaam"><br>
        </div>
        <div class="form-group">
            <label for="voornaam">Achternaam:  </label> 
            <input type="text" name="achternaam" class="form-control" placeholder="achternaam"><br>
        </div>
        <input type="submit" class="btn btn-default" name="Submit"> 
    </form>
        </div>

</body>
